.navbar{
	height: 60px;
	color:white; 
}
.plans{
	align-content: center;
}


.countries img{
    height:40px;
    width:40px;
align-content: center;}
footer {
	align-content: center;
	background-color:white;
}
footer p{
	color: red;
	text-align: center;
}
 .col-lg-4 h3
 {
 	color: yellow;
 	text-align: center;
 }
 .col-lg-4 h4{
 	color:white;
 	text-align: center;
 }